/* Sección producto */
.price {
    font-size: 1.2em;
    color: #faa345;
    margin-bottom: 15px;
}

.add-button {
    margin-top: 25px;
    background-color: #f38209;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #7b4e1b;
}
