/* Sección producto */
.price {
    font-size: 1.2em;
    color: #f07168;
    margin-bottom: 15px;
}

.add-button {
    margin-top: 25px;
    background-color: #ff0b2c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #8c1a1a;
}
