.cart-button {
    position: fixed;
    top: 50%;
    right: 15px;
    z-index: 9999;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
